html{
    scroll-behavior: smooth;
}

.span1{
    color: rgb(242, 71, 9) !important;
}

.parent-bg{
     background: url(assets/temple-noble-art-TeL4E6S5BQU-unsplash.jpg);
    height: 850px;
    background-position: top;
    background-attachment: fixed;
}

#backgroundCarousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

#backgroundCarousel .carousel-inner {
    height: 100%; 
}


#backgroundCarousel .carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
}


.parent-bg .sect-1 {
    position: relative;
    z-index: 2;
}

.sect-1{
    color: white !important;
    position: relative;
    z-index: 2;   
    height: 850px;     
}
.margin-sect-1{
    padding-top: 10%;
    position: relative;
    z-index: 3; 
}

.d-flex {
    position: relative;
    z-index: 3; 
}

.btn-orange{
    background-color: #ff4500;
    color: white;
    
}

.btn-orange:hover{
    background-color: rgb(173, 46, 0);
            color: white;
}

.sect-2{

    margin-top:8% ;
    
}

.sect-2-about{
    
    background-image: url(assets/an_vision-3Ic5nzXzOf4-unsplash.jpg);
    
}
.sect-2-head{
    font-size: 24px !important;
}
.dumbell{
    color: orangered;
}

#discover-btn{
    text-decoration: none !important;
    color: #ff4500;
}
#programs-heading{

    font-size: 32px !important;
}
.section-mid{
    background: url(assets/samuel-girven-fqMu99l8sqo-unsplash.jpg);
    margin-top: 10%;
    background-position: bottom;
    height: 370px;
}

.class-section{
    margin-top: 10%;
    
}
.class-section-2{
    background: url(assets/an_vision-3Ic5nzXzOf4-unsplash.jpg);
    padding: 60px;
}


.img-round{
    
    overflow: hidden;
    height: 15rem;
    width: 15rem;
    border-radius: 30px !important;
}

.nav-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 10px;
    transition: top 0.3s; /* Smooth transition for the navbar */
    z-index: 1000; /* Make sure it stays on top */
}

footer .col-md-4 ul li a {
    text-decoration: none;
}
footer .col-md-4 ul li a:hover {
    text-decoration: underline;
}

.contact-img{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0)100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0)100%);
}

.form-control:focus{
    border-color: orangered;
    box-shadow: 0 0 0 0.2rem rgb(233, 162, 137);
}

.font{

    font-family: Bungee Spice;
}

